*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          
          padding: 50px;
          
}

h2{
          align-content: center;
          text-align: center;
          padding: 20px;
          width: 75%;
          margin-left: 10%;
          margin-bottom: 50px;

}
#box{
          display: flex;
          position: relative;
          
}

p {
     padding: 40px 10px 10px 10px; 
     
}

#title{
          float: right;
          border: 3px solid black; 
          padding: 5px 5px 5px 5px;
          border-top: 0px; 
          border-right: 0px;
          text-align: center;
          position: static;
          width: 35%;
}

#chicken{
          margin: 10px;
          background-color: rgb(122, 122, 134);
          border: 3px solid black;
          

}

#beef{
          background-color: rgb(122, 122, 134);;
          margin: 10px;
          border: 3px solid black;
          
            
}

#sushi{
          background-color: rgb(122, 122, 134);
          margin: 10px;
          border: 3px solid black;
          
          
}

#box .chicken{
          background-color:rgb(197, 130, 164);
}

#box .beef{
     background-color: rgb(185, 41, 41);
     color: white;
}

#box .sushi{
          background-color: rgba(250, 185, 144, 0.932);
}


/** media queries**/

 @media (max-width:767px){
      #box {
           display: block;
      }

 }
@media (max-width: 991px) and (min-width: 768px){

     #box #sushi{
          position: absolute;
          display:inline;
          margin-top: 190px;
          margin-bottom: 0px;
          text-transform: inherit;
     }
     
     #box #chicken, #box #beef{
          display: static;
     }

}

@media (min-width:992px){
     display: flex;
}