*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          
          padding: 50px;
          
}

h2{
          align-content: center;
          text-align: center;
          padding: 20px;
          width: 75%;
          margin-left: 10%;
          margin-bottom: 50px;

}
#box{
          display: flex;
          
}

p {
     padding: 40px 10px 10px 10px; 
     
}

#title{
          float: right;
          border: 3px solid black; 
          padding: 5px 5px 5px 5px;
          border-top: 0px; 
          border-right: 0px;
          text-align: center;
          position: static;
          width: 35%;
}

#chicken{
          margin: 10px;
          background-color: rgb(122, 122, 134);
          border: 3px solid black;
          

}

#beef{
          background-color: rgb(122, 122, 134);;
          margin: 10px;
          border: 3px solid black;
          
            
}

#sushi{
          background-color: rgb(122, 122, 134);
          margin: 10px;
          border: 3px solid black;
          
          
}

.chicken{
          background-color:rgb(197, 130, 164);
}

.beef{
     background-color: rgb(185, 41, 41);
     color: white;
}

.sushi{
          background-color: rgba(250, 185, 144, 0.932);
}


/** media queries**/

 
@media (max-width : 767px) {
     
    .lg-chicken{
          width: 33.33%;
     }

     .lg-beef{
          width: 50%;
     }

     .lg-sushi{
          width: 100%;
     }
}
/*
@media (min-width : 768px) and (max-width : 991px){
     .md-chicken{

          width: 25%;
     }

     .md.beef{
          width: 25%;
     }

     .md-sushi{
          width: 50%;
          height: 100%;
          
     }
}

@media (max-width : 767px){
     
     #chicken{

          width: 100%;
     }

     #beef{
          width: 100%;
     }

     #sushi{
          width: 100%;
          
          
     }
} */
